[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]

"fabric3" = "*"
"flake8" = "*"
pytest = "*"
"pytest-cov" = "*"
"pytest-pythonpath" = "*"
"tox-pyenv" = "*"
twine = "*"
